<div class="card" class="centerMe">
  <h2><u>Welcome to the Volunteer Tracker</u></h2>
  <p>Where you can create Projects and assign them volunteers!</p>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">

    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">

    </div>
  </div>
</div>
