<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Volunteer Tracker</title>
    <link rel='stylesheet' href='/css/bootstrap.css' type='text/css'>
    <link rel='stylesheet' href='/css/styles.css' type='text/css'>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
