<div class="card" class="centerMe">
  <h2><b><%= @project.title() %></b></h2>

<div class="row">

  <div class="col col-md-3">
      <a href="/"><button type="button" class="btn btn-success">Home</button></a>
    </div>


    <div class="col col-md-6">
      <form action="/project/<%= @project.id() %> " method="post">
        <input type="hidden" name="_method" value="patch">
        <button type="submit" class="btn btn-warning">Rename</button>
        <input type="text" name="rename">
      </form>
    </div>


    <div class="col col-md-3">
      <form class="" action="/project/<%= @project.id() %> " method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="btn btn-danger">Delete Store</button>
      </form>
    </div>
</div>
